# Ignore all archive folders
_old/

# Ignore the files in output folders
/IMAGES/MAIN/**
/IMAGES/AD_HOC/**
/INTERMEDIATE/**

# Ignore HTML output files
/SCRIPTS/*.html

.Rproj.user

# Ignore thumbs file
Thumbs.db

# Ignore warning file
DO NOT MANUALLY EDIT WITHIN THIS FOLDER.txt