# Ignore all archive folders
_old/

# Ignore the files in output folders, but keep folders
/IMAGES/MAIN/**
/IMAGES/AD_HOC/**
/INTERMEDIATE/**

!/IMAGES/MAIN/.gitkeep
!/IMAGES/AD_HOC/.gitkeep
!/INTERMEDIATE/.gitkeep

# Ignore HTML output files
/SCRIPTS/*.html

.Rproj.user

# Ignore thumbs file
Thumbs.db

# Ignore warning file
DO NOT MANUALLY EDIT WITHIN THIS FOLDER.txt